.leis-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 5px;
}

.leis-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.leis-element {
  transition: box-shadow 0.3s;
  width: 100%;
  background-color: #f4f3f3;
  border-radius: 20px;
  margin: 5px;
  filter: brightness(100%);
  cursor: default;
}

.leis-element:hover {
  filter: brightness(95%);
}

.leis-align-inneritems {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 80px;
}

.leis-inneritems {
  margin-top: auto;
  margin-bottom: auto;
}

.leis-innericon {
  padding: 10px;
  width: 20%;
  text-align: center;
}

.leis-homepagetext {
  width: 80%;
  text-align: left;
  font-size: larger;
  padding-left: 20px;
  line-height: 1;
}

.leis-gradient-icon {
  width: 10%;
  padding: 10px;
  text-align: center;
}

.leis-gradient-text {
  width: 90%;
  text-align: left;
  font-size: larger;
  color: white;
  line-height: 1;
}

.leis-iconsize {
  height: 50px;
  width: 50px;
}

.leis-gradient-label {
  background-image: linear-gradient(
    90deg,
    #cc2131 0%,
    #004a8d 54.17%,
    #57a88e 100%
  );
  height: 80px;
  margin: 5px;
  border-radius: 20px;
  width: 100%;
}
