.leis-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: linear-gradient(-45deg, #cc2131 0%, #004a8d 54.17%, #57a88e 100%);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.leis-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
}

.leis-element {
  transition: box-shadow 0.3s;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 10px;
}

.leis-element:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.leis-align-inneritems {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 80px;
}

.leis-inneritems {
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.leis-innericon {
  width: 20%;
}

.leis-homepagetext {
  width: 80%;
  text-align: left;
  font-size: larger;
  padding-left: 20px;
}

.leis-gradient-icon {
  width: 10%;
  text-align: center;
}

.leis-gradient-text {
  width: 90%;
  text-align: left;
  font-size: larger;
  color: white;
}

.leis-iconsize {
  height: 50px;
  width: 50px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.leis-gradient-label {
  background-image: linear-gradient(
    90deg,
    #cc2131 0%,
    #004a8d 54.17%,
    #57a88e 100%
  );
  height: 80px;
  margin: 10px;
  border-radius: 20px;
  width: 100%;
}
